:root {
  --white: #fff;
  --black: #000;
  --grey: rgb(112, 119, 145);
  --light-grey: #acaeb3;
  --orange: #fc9430;
  --lightest-blue: #98acec;
  --basic-lightest-grey: #f8f7f6;
  --basic-meduim-meduim-grey: #ebebeb;
  --basic-light-light-grey: #d7d7d7;
  --hover-grey: #2d2d2d;
}

/* Global */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
  font-size: 1rem;
  font-family: "Bahnschrift SemiCondensed", "Arial", sans-serif;
}

.container {
  max-width: 2560px;
  padding: 0 20px;
  margin: 0 auto;
}

.title {
  font-size: 3.75rem;
  text-transform: uppercase;
  color: var(--white);
  padding-top: 50px;
  padding-bottom: 80px;
}

.button {
  background-color: var(--white);
  color: var(--black);
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 20px;
  cursor: pointer;
}

.logo {
  width: 90px;
  height: auto;
}
.logo__img {
  width: 100%;
}

/* Fonts */
/* Canvas*/
canvas#neuro {
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.95;
}

/* Header */
.header {
  height: 100vh;
}
.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  z-index: 10000;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  -webkit-backdrop-filter: blur(18px);
          backdrop-filter: blur(18px);
  border-radius: 10px;
  padding-top: 20px;
}
.header__info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.header__title {
  max-width: 1170px;
  font-size: 9.25rem;
  color: var(--white);
}
.header__title_colored {
  color: var(--orange);
}
.header__description-wrap {
  max-width: 570px;
}
.header__description {
  font-size: 2.125rem;
  color: var(--white);
  font-weight: 300;
  line-height: 1.2;
}

/* Nav*/
.nav__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}
.nav__link {
  display: inline-block;
  font-size: 1.5rem;
  color: var(--white);
  text-transform: uppercase;
  padding: 20px;
}

/* Main */
.main {
  background-color: var(--black);
  padding-top: 150px;
}

/* Automation */
.automation {
  color: var(--white);
  padding-bottom: 100px;
}
.automation__top-block {
  padding-bottom: 180px;
  border-bottom: 1px solid white;
}
.automation__title {
  font-size: 3.75rem;
  max-width: 1220px;
  margin-bottom: 50px;
}
.automation__title_colored {
  color: var(--grey);
}
.automation__texts {
  display: flex;
  flex-wrap: wrap;
  gap: 90px;
  max-width: 1200px;
}
.automation__text {
  max-width: 528px;
  color: var(--white);
  font-size: 1.625rem;
  font-weight: 300;
  line-height: 1.2;
}
.automation__bottom-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding-top: 50px;
}
.automation__title-bottom {
  font-size: 3.75rem;
  max-width: 600px;
}
.automation__percent-text {
  font-size: 1.375rem;
  max-width: 680px;
}
.automation__percent-text_size {
  font-size: 28.75rem;
}

/* About */
.about {
  padding-bottom: 100px;
}
.about__wrap {
  border-top: 1px solid var(--white);
  color: var(--white);
}
.about__slogan {
  max-width: 1070px;
  font-size: 6.25rem;
  text-transform: uppercase;
  margin-bottom: 80px;
}
.about__slogan_text {
  color: var(--orange);
}
.about__content-wrap {
  padding: 0 100px;
}
.about__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.about__description {
  max-width: 550px;
  font-size: 70px;
}
.about__text {
  max-width: 612px;
  font-size: 1.875rem;
}
.about__text_colored {
  color: var(--orange);
}
.about__statistics {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.about__number {
  position: relative;
  font-size: 9.375rem;
}
.about__text-statistic {
  font-size: 1.625rem;
}

/* Values */
.values {
  padding-bottom: 100px;
}
.values__wrap {
  border-top: 1px solid var(--white);
}
.values__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--white);
  padding: 0 100px;
}
.values__item {
  max-width: 450px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.values__text {
  font-size: 2.125rem;
  text-transform: uppercase;
  flex: 1;
}
.values__description {
  flex: 1;
  font-size: 1.625rem;
  color: var(--white);
  font-weight: 300;
  line-height: 1.2;
}

/* Services */
.services__wrap {
  border-top: 1px solid var(--white);
}
.services__blocks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 80px 155px;
  color: var(--white);
  padding: 0 100px;
  margin-bottom: 100px;
}
.services__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.services__item-title {
  font-size: 3.25rem;
  color: var(--lightest-blue);
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 15px;
  letter-spacing: 10px;
}
.services__description {
  font-size: 1.625rem;
  color: var(--white);
  font-weight: 300;
  line-height: 1.2;
  padding-bottom: 15px;
  padding-left: 20px;
}
.services__item-description {
  position: relative;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 2.5;
  text-transform: uppercase;
  padding-left: 20px;
}
.services__item-description::before {
  content: "";
  background-image: url("../img/icon-arrow.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 13px;
  left: -12px;
}

/* Projeects*/
.projects {
  padding-bottom: 100px;
}
.projects__wrap {
  border-top: 1px solid var(--white);
}
.projects__blocks {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 50px 30px;
  max-width: 1530px;
  margin: 0 auto;
}
.projects__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 750px;
}
.projects__img-wrap {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects__img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.projects__button {
  color: var(--white);
  font-size: 1.25rem;
  transition: all 0.3s ease;
  text-align: center;
  margin-top: 20px;
}
.projects__button:hover {
  color: var(--orange);
}

/* Questions */
.questions {
  padding-bottom: 70px;
}
.questions__list {
  margin: 20px 0;
  padding: 0;
}
.questions__list:last-child {
  border-bottom: 1px solid var(--basic-meduim-meduim-grey);
}
.questions__item {
  display: block;
  list-style: none;
  overflow: hidden;
  border-top: 1px solid var(--basic-meduim-meduim-grey);
}
.questions__item:hover {
  background: var(--hover-grey);
}
.questions__expand {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}
.questions__question {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 1rem;
}
.questions__answer {
  display: none;
  padding: 0 25px 10px;
  line-height: 22px;
}
.questions__text {
  font-size: 0.875rem;
  color: var(--white);
}
.questions__arrow {
  font-weight: 700;
  font-size: 1.25rem;
}

/* Footer/Contacts */
.footer {
  padding-bottom: 30px;
}
.footer__wrap {
  border-top: 1px solid var(--white);
}

.contacts {
  margin-bottom: 100px;
}
.contacts__form {
  display: flex;
  justify-content: space-between;
}
.contacts__info {
  color: var(--white);
}
.contacts__title {
  font-size: 5.75rem;
  padding-bottom: 26px;
}
.contacts__text {
  font-size: 4.5rem;
  color: var(--orange);
  margin-bottom: 30px;
}
.contacts__communication {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contacts__email, .contacts__tel {
  font-size: 1.25rem;
  color: var(--white);
  transition: all 0.3s ease;
}
.contacts__email:hover, .contacts__tel:hover {
  color: var(--orange);
}
.contacts__details {
  flex-basis: 40%;
  max-width: 770px;
}
.contacts__button {
  padding: 15px 25px;
  color: var(--black);
  background: var(--white);
  outline: none;
  border: none;
  margin: 15px;
  font-size: 0.875rem;
  letter-spacing: 2px;
  cursor: pointer;
}
.contacts__details input[type=text], .contacts__details input[type=email] {
  padding: 15px 20px;
  color: var(--white);
  outline: none;
  border: 1px solid var(--grey);
  margin: 35px 15px;
  font-size: 14px;
}
.contacts__details textarea {
  padding: 15px 20px;
  margin: 0 15px;
  color: var(--black);
  outline: none;
  border: 1px solid var(--grey);
  font-size: 14px;
  resize: none;
}
.contacts__details input[type=text]:focus, .contacts__details input[type=email]:focus, .contacts__details textarea:focus {
  border-color: var(--white);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  -webkit-backdrop-filter: blur(18px);
          backdrop-filter: blur(18px);
  border-radius: 10px;
}
.content__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}
.content__link {
  display: inline-block;
  font-size: 1.125rem;
  color: var(--white);
  text-transform: uppercase;
  padding: 20px;
}/*# sourceMappingURL=style.css.map */